<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TaskTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="row">
      <!--- From lecture notes -->
      <div class="col-3 offset-9">
        <%= if @current_user do %>
          <p>
          Logged in as: <%= @current_user.name %> |
          <%= link "Log Out", to: "/session", method: :delete %>
          </p>
        <% else %>
          <p>Not logged in.</p>
          <%= link "Log in here", to: page_path(@conn, :index) %>
        <% end %>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <%= if @current_user do %>
            <%= link "New Task", to: task_path(@conn, :new), class: "btn btn-primary" %>
            <%= link "Profile", to: user_path(@conn, :show, @current_user), class: "btn btn-info" %>
          <% end %>
          <%= link "In Progress Tasks", to: page_path(@conn, :tasklist), class: "btn btn-warning" %>
          <%= link "Completed Tasks", to: page_path(@conn, :completed), class: "btn btn-success" %>
          <%= link "Lackeys' Tasks", to: page_path(@conn, :lackies_tasks), class: "btn btn-danger" %>
        </div>
      </div>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
